*.beaver
build/
jar/

/.idea/
/calc/
*.beam

/buildold.xml
/erl_crash.dump
/TwoBuyerProtocol.iml
**/*.class
/src/miniErlang/*.java
/examples/seller-bank/*.beam
/out/**/*
/examples/seller-bank/ast/*
/examples/seller-bank-no-global/ast/*
/examples/seller-bank-no-global/*.beam
**/*.dump
/examples/three-buyer/ast/*
/examples/three-buyer/*.beam
