*.beaver
build/
jar/
*.iml

/.idea/
/calc/
*.beam

/buildold.xml
/erl_crash.dump
/TwoBuyerProtocol.iml
**/*.class
/src/miniErlang/*.java
/examples/seller-bank/*.beam
/out/**/*
/resources/examples/seller-bank/ast/*
/resources/examples/seller-bank-no-global/ast/*
/examples/seller-bank-no-global/*.beam
**/*.dump
/resources/examples/three-buyer/ast/*
/examples/three-buyer/*.beam
/impl.puml
**/*.form

